
<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Home Page details at TNS</h5>
                    <p class="card-text">OUR STORY. Think n Solutions is a software solutions and a services company focused on technology consulting and Software solutions. Founded in the year 2013, we now have</p>
                    <a class="btn btn-primary">Go Somedetails</a>
                </div>
  
      </div>
      <div>
     </div>
    </div>
</div>