<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Contact Details</h5>
                    <p class="card-text">1) 18/A, 17th Cross, 9th Main, 7th Sector, HSR Layout, Bengaluru, Karnataka 560102
                        <br><br>
                        2) Contact Number:080 42818900<br><br>
                        3) Suggest an edit · Your business? Claim now</p>
                    <a class="btn btn-primary">Go Contact</a>
                </div>
      
            </div>
        </div>
    </div>
</div>