<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">About in Company</h5>
                    <p class="card-text">1) Company Name: THINK N SOLUTIONS
                        <br><br><br>
                                         2)Company Status: Active
                                         <br><br><br>
                                         3)RoC: RoC-Bangalore
                                    </p>
                    <a class="btn btn-primary">Search Somedetails</a>
                </div>
            </div>
        </div>
    </div>
</div>
